@media screen and (max-width:1366px){
    .tracks-your-show-title{
        font-size: 60px;
    }
}
@media screen and (max-width:1300px){
    .iphone-mockup img{
        top: 118px;
        right: -141px;
    }
    .comment{
        width: 45%;
    }
}
@media screen and (max-width:1188px){
    .tracks-your-show-title{
        font-size: 50px;
    }
    .iphone-mockup img{
        top: 101px;
        right: -141px;
    }
    .easy-to-use{
        margin-top: 0;
        margin-bottom: 0;
    }
    .comment{
        width: 50%;
    }
}
@media screen and (max-width:1024px){
    .tracks-your-show-title{
        font-size: 40px;
    }
    .tracks-your-show-content{
        font-size: 18px;
    }
    .inputSearch{
        margin-top: 30px;
        width: 80%;
        display: block;
         margin: 20px auto;
    }
    .iphone{
        right: 215px;
    }
    .built-and-customized h1{
        font-size: 40px;
        margin-bottom: 0;
    }
    .built-and-customized p{
        font-size: 18px;
    }
    .images-play, .images-machine, .images-smart{
        width: 40px;
        height: 40px;
    }
    .title-action h1{
        font-size: 16px;
    }
    .content-action p{
        font-weight: 14px;
    }
    .learn-more{
        margin-top: 5px;
    }
    .easy-to-use{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .iphone-mockup img {
        position: absolute;
        top: 70px;
        right: -99px;
        width: 100%;
    }
    .community{
        width: 30%;
    }
    .community h1{
        font-size: 30px;
    }
    .community p{
        font-size: 16px;
    }
    .comment{
        width: 55%;
        column-gap: 10px;
    }
    .start-tracking h1{
        font-size: 40px;
        height: auto;
    }
    .start-tracking{
        height: 556px;
        margin-top: 86px auto;
    }
    .start-tracking p{
        margin-top: 0;
        font-size: 18px;
        width: 100%;
    }
    .inputSearch{
        width: 100%;
    }
}
@media screen and (max-width:960px) {
    .comment{
        width: 60%;
    }
    .inputSearch{
        width: 100%;
    }
}
@media screen and (max-width:880px) {
    .orange, .gradient{
        width: 500px;
        height: 500px;
    }
    .iphone{
        right: 130px;
    }
    .iphone-mockup img{
    top: 60px;
    right: -85px;
    }
    .tracks-your-show-title{
        font-size: 30px;
        grid-column: 2/6;
    }
    .tracks-your-show-content{
        font-size: 14px;
    }
    .iphone-mockup{
        height: auto;
    }
    .community p{
        font-size: 14px;
    }
    .inputSearch{
        width: 100%;
    }
    .button-community button{
        width: 178px;
        font-size: 14px;
        padding: 0 10px;
    }
    .comment{
        width: 64%;
    }
    .inputSearch input{
        padding-left: 5px;
    }
    .inputSearch a{
        left: 5px;
    }
}
@media screen and (max-width:863px){
    .inputSearch{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .inputSearch{
        width: 100%;
    }
    .menu-mobile{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }
    .banner{
        height: 325px;
        padding: 10px;
    }
    .mobile-menu{
        display: block;
        position: fixed;
        width: 100%;
        z-index: 2;
        top:-200px;
    }
    .mobile-menu ul {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 3px;
        justify-content: space-around;
        background: #DADADA; 
        align-items: center;
    }
    .mobile-menu ul li{
        background: #DADADA;
        border-bottom: 1px solid #DADADA;
        padding: 10px;
        border-radius: 5px;
    }
    .mobile-menu ul li button{
        position: fixed;
        z-index: 99;
        border: none;
        outline: none;
        background-color:#DADADA;
        color: black;
        right: 17px;
        cursor: pointer;
        border-radius: 4px;
        line-height: 21px;
    }
    .mobile-menu ul li:hover{
        transform: translateX(20px);
        transition-duration: 0.5s;
    }
    .menu-mobile .logo-mobile span:last-child{
        color: #540CFA;
    }
    .logo-mobile {
        cursor: pointer;
    }
    .login-mobile button{
         width: 102px;
         height: 32px;
         background:#540CFA;
         color: #FFFFFF;
         font-size: 14px;
    }
    .login-mobile button:first-child{
        display: none;
    }
    nav{
        display: none;
    };   
    .banner{
        height: auto;
        padding: 10px;
    }
    .tracks-your-show{
        display: block;
    }
    .tracks-your-show-title{
        font-size: 42px;
        line-height: 44px;
    }
    .tracks-your-show-content{
        font-size: 20px;
    }
    .built-and-customized h1{
        font-size: 30px;
    }
    .inputSearch{
        width: 80%;
        margin: 20px auto;
    }
    .easy-to-use-interfaces h1{
        font-size: 30px;
    }
    .images-easy-to-use img, .iphone-mockup {
        display: none;
    }
    .easy-to-use-interfaces{
        width: 100%;
    }
    .easy-to-use-interfaces p{
        font-size: 16px;
        margin-top: 20px;
    }
    .user-comment{
        display: block;
        padding: 10px;
        overflow:hidden;
        height: auto;
        width: 100%;
    }
    .community{
        width: 100%;
        margin-top: 80px;
        height: auto;
    }
    .community h1{
        font-size: 35px;
    }
    .left, .right{
        margin-top: 61px;
        flex-direction: row;
        height: 211px;
        animation: unset;
    }
    .comment{
        width: calc(260px * 11);
        position: relative;
        animation: scroll 10s linear infinite;
    }
    @keyframes scroll {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-260px * 10));
        }
    }
    .compatible{
        margin:0;
        margin-top: 60px;
    }
    .icon-logo{
        width: 100%;
    }
    .iphone{
        width: 470px;
        height: 600px;
        top: 502px;
        z-index: 1;
        right: 140px;
    }
    .iphone img{
        
        object-fit: cover;
    }
    .orange{
        width: 400px;
        height: 400px;
        top: 570px;
        right: -146px;
    }
    .gradient{
        width: 400px;
        height: 400px;
        top: 565px;
        right: -171px;
    }
    .background-gradient{
        width: 300px;
        height: 300px;
        top: -115px;
    }
    .main{
        margin-top: 840px;
    }
    .built-and-customized{
        margin-top: 140px;
        align-items: flex-start;
        width: 100%;
        padding-left: 10px;
    }
    .built-and-customized h1{
        font-size: 35px;
        width: 343px;
        padding: 0;
        height: auto;
        margin-bottom: 15px;
    }
    .built-and-customized h3{
        font-size: 16px;
        text-align: left;
    }
    .features{
        text-align: left;
        width: 100%;
        padding: 10px;
    }
    .action{
        display: block;
        margin-top: 30px;
        padding: 10px;
    }
    .images-play, .images-machine, .images-smart{
        width: 50px;
        height: 50px;
        border-radius: 14px;
        margin: 0;
    }
    .action-item{
        width: 100%;
        align-items: flex-start;
        justify-content: space-around;
        margin-top: 20px;
    }
    .start-tracking{
        margin:0;
        margin-top: 40px;
    }
    .bottom{
        width: 100%;
    }
    .easy-to-use{
        padding: 10px;
    }
}
@media screen and (max-width:640px) {
    .iphone {
        width: 409px;
        height: 600px;
        top: 502px;
        z-index: 1;
        right: 100px;
    }
    .background-gradient{
        top: -142px;
    }
}
@media screen and (max-width:600px){
    header{
        width: 100%
    }
    .wrapper{
        width: 100%
    }
    .gradient{
        width: 300px;
        height: 300px;
    }
    .orange{
        width: 300px;
        height: 300px;
    }
    .iphone {
        width: 409px;
        height: 600px;
        top: 502px;
        z-index: 1;
        right: 100px;
    }
    .background-gradient{
        top: -142px;
    }
    .user-comment{
        width: 100%
    }
    .start-tracking{
        margin: auto;
        width: 100%
    }
    .start-tracking h1{
        font-size: 38px;
    }
    .start-tracking p{
        padding: 10px;
    }
}
@media screen and (max-width:575px){
    .wrapper{
        width: 590px;
    }
    .user-comment{
        width: 590px;
    }
    .menu-mobile{
        width: 590px;
    }
    .start-tracking{
        width: 575px;
        height: 420px;
    }
    .start-tracking h1 {
        font-size: 30px;
    }
    .start-tracking p {
        font-size: 16px;
        margin: auto;
        width: 100%;
    }
}